{% extends 'base.html' %}

{% block content %}

<div style="border-radius: 6px; background-color: #D0ECE7; padding:10px; margin-bottom: 10px;">
	<div><h3>Tags : </h3></div>
	{% for tag in unic_tags %}
		<div class="btn btn-secondary" onclick="window.location='{% url 'list_by_tag' tag %}';" style="display: inline-block; border:1px solid black">{{ tag }}</div>
	{% endfor%}
</div>

{% for product in products.all %}
<div class="row pb-3">
	<div class="col-4" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer">
		<img src="{{ product.icon.url }}" class="img-fluid" />
	</div>
	<div class="col-6" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer">
		<h1>{{ product.title }}</h1>
		<p>{{ product.summary }}</p>
	</div>
	<div class="col-2">
		<a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"><button class="btn btn-primary btn-lg btn-block">Upvote {{product.votes_total}} </button></a>
	</div>
</div>

<form id="upvote{{ product.id }}" method="POST" action="{% url 'upvote' product.id %}">
	{% csrf_token %}
	<input type="hidden">
</form>

<script type="text/javascript">
	document.getElementById("id_q").value = "{{ query }}"
</script>
{% endfor %}

{% endblock %}
